{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/admin-extra.css" %}">
    {% if APP_ADMIN_COLOR %}
    <style>
        :root {
          --theme-color-primary: {{ APP_ADMIN_COLOR }};
        }
    </style>
    {% endif %}
{% endblock %}

{% block title %}{{ title }} | {{ APP_ADMIN_TITLE|default:site_title }}{% endblock %}

{% block branding %}
    <div id="site-name"><strong><a href="{% url 'admin:index' %}">{{ APP_ADMIN_TITLE|default:site_title }}</a></strong></div>
{% endblock %}

{% block welcome-msg %}
    {% translate 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>{% if user.is_impersonate %} (Impersonated by <strong>{% firstof request.impersonator.get_short_name request.impersonator.get_username %}</strong>) {% endif %}.
{% endblock %}
{% block userlinks %}
    {% if user.is_impersonate %}<a href="{% url 'impersonate-stop' %}">{% translate 'End impersonation' %}</a> / {% endif %}
    {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
