{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": { "optimizeForSpeed": false }
            }
        ]
    ],
    "plugins": [
        "superjson-next" // 👈
    ]
}
