@font-face
{
  font-family: 'DINWebPro';
  src:url('../../checkin/font/DINWebPro.eot');
  src:url('../../checkin/font/DINWebPro.eot?#iefix') format('embedded-opentype'),
    url('../../checkin/font/DINWebPro.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

@font-face
{
  font-family: 'DINWebPro';
  src: url('../../checkin/font/DINWebPro-Ita.eot');
  src: url('../../checkin/font/DINWebPro-Ita.eot?#iefix') format('embedded-opentype'),
    url('../../checkin/font/DINWebPro-Ita.woff') format('woff');
  font-weight:normal;
  font-style:italic;
}

@font-face
{
  font-family: 'DINWebPro';
  src:url('../../checkin/font/DINWebPro-Bold.eot');
  src:url('../../checkin/font/DINWebPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../checkin/font/DINWebPro-Bold.woff') format('woff');
  font-weight:bold;
  font-style:normal;
}

@font-face
{
  font-family: 'DINWebPro';
  src:url('../../checkin/font/DINWebPro-BoldIta.eot');
  src:url('../../checkin/font/DINWebPro-BoldIta.eot?#iefix') format('embedded-opentype'),
    url('../../checkin/font/DINWebPro-BoldIta.woff') format('woff');
  font-weight:bold;
  font-style:italic;  
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "DINWebPro",sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
    color: #D81830;
    text-decoration: none;
}

a:focus, a:hover {
    color: #D81830;
}

/* HEADER */

#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #D81830;
    color: #fff;
    overflow: hidden;
}
