{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HfK Checkin Beschilderungen generiert {% now "d.m.Y H:i" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "tracking/css/roomcard.css" %}">
</head>
<body>
{% for object in objects %}

<div class="info-container">
    <p class="room-number">{{ object.org_number }}</p>
    <p class="room-name">{{ object.org_name }}</p>
</div>
<br/>

{% if object.capacities %}
    <table class="capacity-table">
    {% for cap in object.capacities %}
        <tr>
            <td><p class="capacity">{{ cap.capacity }}</p></td>
            <td class="capacity-label-cell"><p class="capacity-label">{% if cap.comment_de %}<strong>{{ cap.comment_de }}</strong><br/>{% endif %}<strong>{{ cap.profile.name_de }}</strong><br/><span>{{ cap.profile.distance_rule_de }}</span></p></td>
            <td class="capacity-label-cell"><p class="capacity-label en">{% if cap.comment_en %}<strong>{{ cap.comment_en }}</strong><br/>{% endif %}<strong>{{ cap.profile.name_en }}</strong><br/><span>{{ cap.profile.distance_rule_en }}</span></p></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<footer>
    <p class="footer-remark">Bitte dokumentiere deinen Aufenthalt in den Gebäuden und Räumen der HfK selbst auf checkin.hfk-bremen.de oder mit dem Protokollzettel.
Die Dokumentation ist verpflichtend.</p>
    <p class="footer-remark en">Please document your stay in the buildings and rooms of the HfK yourself at checkin.hfk-bremen.de or with the protocol sheet.
The documentation is obligatory.</p>
    <div class="checkin-container">
        <p class="code">{{ object.code }}</p><div class="qr"><img src="{{ object.qr_svg_uri }}"/></div>
    </div>
    <div class="notice">
        <p class="generator">Fehlende Beschilderung oder Korrekturen? Bitte schreibe eine E-Mail an checkin@hfk-bremen.de.</p>
        <p class="generator">Diese Beschilderung wurde generiert am {% now "d.m.Y H:i" %}.</p>
    </div>
</footer>


    {% if not forloop.last %}
        <p style="page-break-before: always" ></p>
    {% endif %}
{% endfor %}
</body>
</html>