{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extrastyle %}{{ block.super }}
<style type="text/css">
    {#input[name="_save"],input[name="_continue"],input[name="_saveasnew"]{#}
    {#    display: none;#}
    {#}#}
</style>
{% endblock %}

{% block admin_change_form_document_ready %}{{ block.super }}
    <script type="text/javascript">
        django.jQuery(function($){
            select = $("#id_profile")
            select.change(function() {
                profile_id = select.val()
                if(!profile_id) {
                    return;
                }
                $.ajax({
                  url: '/api/profile/' + profile_id + '/',
                  format: 'json',
                  success: function(data){
                      $('#id_first_name').val(data.first_name)
                      $('#id_last_name').val(data.last_name)
                      $('#id_phone').val(data.phone)
                      $('#id_student_number').val(data.student_number)
                  }
              })
            });
        }(django.jQuery));
    </script>
{% endblock %}