.fc {
    --fc-button-text-color: white;
    --fc-button-bg-color: var(--theme-color-primary);
    --fc-button-border-color: var(--theme-color-primary);
}

.fc-event {
    background: white;
    color: var(--theme-color-primary);
    border-color: var(--theme-color-primary);
}
.fc-event.inactive {
    background: rgba(255,255,255,0.5);
    border-color: var(--theme-color-primary);
    border-style: dashed;
}
.fc-event.inactive .fc-event-main {
    color: var(--theme-color-primary);
}
.fc-event.current {
    /*background: rgba(255,255,255,0.5);*/
    /*border-color: var(--theme-color-primary);*/
    border-width: 2px;
}
.fc-event.current .fc-event-main {
    font-weight: bold;
}
.fc-event.canceled .fc-event-title {
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .fc, #calendar, .reservation-calendar {
        display: none;
    }
}