{% extends "admin/base_site.html" %}
{% load i18n static admin_urls %}
{% block title %}{% translate "Calendar" %}{{ block.super }}{% endblock %}
{% block extrahead %}
    {{ block.super }}
    {{ calendar_select_resource_form.media }}
    <link href='{% static 'resources/fullcalendar-5.5.1/lib/main.min.css'%}' rel='stylesheet'/>
    <link href='{% static 'resources/fullcalendar-scheduler-5.5.1/lib/main.min.css'%}' rel='stylesheet'/>
    <script src='{% static 'resources/fullcalendar-5.5.1/lib/main.min.js'%}'></script>
    <script src='{% static 'resources/fullcalendar-scheduler-5.5.1/lib/main.min.js'%}'></script>
    <script src='{% static 'resources/fullcalendar-5.5.1/lib/locales/de.js'%}'></script>
    <script src='{% static 'resources/fullcalendar-scheduler-5.5.1/lib/locales/de.js'%}'></script>
    <link href='{% static 'resources/fullcalendar_resources.css'%}' rel='stylesheet'/>
    <script src='{% static 'resources/fullcalendar_resources.js'%}'></script>
    <script>
        // use var fullcalendar_resources_config to overwrite fullcalendar_resources_base_config
        {% get_current_language as LANGUAGE_CODE %}
        var parameters = {
            resources_uuids: ['{{ calendar_resource_id }}'],
            name_label: '{% translate 'Space' %}',
            numbers_label: '{% translate 'Numbers' %}',
            capacity_label: '{% translate 'Cap.' %}'
        }
        var config = {
            locale: '{{ LANGUAGE_CODE }}',
            height: 'calc(100vh - 100px)',
        }
        resources_fullcalendar.init(parameters, config)
    </script>
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Calendar' %}
</div>
{% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
    <div class="module">
    <div id='calendar'></div>
    <br/>
    <label>{% translate '+ Add Resource to view'%}</label> {{ calendar_select_resource_form.resource }}
    </div>
    </div>
{% endblock %}