{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{#{% block extrahead %}#}
{#    {{ block.super }}#}
{#    {{ calendar_select_resource_form.media }} this causes select2 fields to "render twice"#}
{#{% endblock %}#}

{% block footer %}
    {{ block.super }}
    {% if original and original.resource and original.resource.reservable %}
    <link href='{% static 'resources/fullcalendar-5.5.1/lib/main.min.css'%}' rel='stylesheet'/>
    <link href='{% static 'resources/fullcalendar-scheduler-5.5.1/lib/main.min.css'%}' rel='stylesheet'/>
    <script src='{% static 'resources/fullcalendar-5.5.1/lib/main.min.js'%}'></script>
    <script src='{% static 'resources/fullcalendar-scheduler-5.5.1/lib/main.min.js'%}'></script>
    <script src='{% static 'resources/fullcalendar-5.5.1/lib/locales/de.js'%}'></script>
    <script src='{% static 'resources/fullcalendar-scheduler-5.5.1/lib/locales/de.js'%}'></script>
    <link href='{% static 'resources/fullcalendar_resources.css'%}' rel='stylesheet'/>
    <script src='{% static 'resources/fullcalendar_resources.js'%}'></script>
    <script>
        // use var fullcalendar_resources_config to overwrite fullcalendar_resources_base_config
        {% get_current_language as LANGUAGE_CODE %}
        var parameters = {
            resources_uuids: ['{{ calendar_resource_id|default:original.resource.uuid }}'],
            initialDate: '{{ original.begin|date:"c" }}',
            start: '{{ original.begin|date:"c" }}',
            end: '{{ original.end|date:"c" }}',
            current_uuid: '{{ original.uuid }}',
        }
        var config = {
            locale: '{{ LANGUAGE_CODE }}',
            height: 300,
        }
        resources_fullcalendar.init(parameters, config)
        {#{% if calendar_select_resource_form %}#}
        {#django.jQuery('.fc-today-button').before('<div class="fc-button-group"><label>Add Resource:  </label>{% spaceless %}{{ calendar_select_resource_form.resource }}{% endspaceless %}</div>');#}
        {#{% endif %}#}
    </script>
    {% endif %}
{% endblock %}

{#{% block header %}#}
{% block breadcrumbs %}
    {{ block.super }}
    {% if original and original.resource and original.resource.reservable %}
    <div style="padding: 20px 40px" class="reservation-calendar">
        <div id='calendar'></div><br/>
        {% url 'admin:resources_resource_calendar' original.resource.pk|admin_urlquote as url %}
        <a href="{% add_preserved_filters url is_popup to_field %}?_popup=1" class="related-widget-wrapper-link" target="resource-calendar">{% translate 'Open Calendar for' %} {{ original.resource.display_name }}</a></div>
    <hr/>
    {% endif %}
{% endblock %}

{#{% block nav-sidebar %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}

{#{% block messages %}#}
{#    {{ block.super }}#}
{#    {% if not is_popup %}#}
{#        <hr/>#}
{#        <div style="padding: 20px 40px"id='calendar'></div>#}
{#        <hr/>#}
{#    {% endif %}#}
{#{% endblock messages %}#}

{#{% block field_sets %}#}
{#    {% calendar_template-tag %}#}
{#{{ block.super }}#}
{#{% endblock %}#}